<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h2>Introduction</h2>

<p>Updater is generally inspired by the <a href="http://sparkle.andymatuschak.org/" target="_blank">Sparkle framework</a> (Cocoa) by Andy Matuschak but is adapted to use Java concepts and to be cross-platform. The goal is to make the initial release of Updater work with zip archives only, for which support is built into the Java virtual machine on all platforms. Expansion of zip archives is easy to implement. Other file formats may come later.</p>

<h2>Checking For Updates</h2>

<p>The premise is that a vendor publishes an <a href="http://connectedflow.com/appcasting/">appcast</a> describing the updates available for their products. An appcast is similar to a podcast. It is an RSS feed whose items include enclosures, which is a feature of <a href="http://cyber.law.harvard.edu/rss/rss.html">RSS 2.0</a>. An example of such an appcast can be found at the link below.</p>

<p>View online with Firefox (or Camino), whereas Safari will ask you if you want to subscribe to the feed:</p>
<a href="myapp/updates.xml">Appcast Example</a>

<p>The Updater API reads the feed and compares the version of the available updates with the current application version. A built-in user interface notifies the user when an update is found. The API offers many ways to customize this default behavior.</p>

<p>Version information is provided in the appcast via an extension to RSS under a specific namespace. This ensures that no name clashes ever occur. This is currently implemented as a ‘updater:version’ element required for each item in an appcast. Updater also supports the Sparkle mechanism, which is a ‘sparkle:version’ attribute added to the ‘enclosure’ element. If both are present, priority is given to the former.</p>

<h2>Documentation</h2>

<p>The API documentation is <a href="nonav/docs/index.html">currently available here</a>.</p>

<p>Adding support for automatic check and update at the launch of an application is easy. All you have to do is instantiate an <code>Updater</code> object and call its <code>checkUpdates</code> method. If an update exists, you get a beautiful default UI giving users the choice of installing it. (<a href="mac.png" target="_blank">Mac</a>, <a href="win.png" target="_blank">Windows</a>, <a href="lin.png" target="_blank">Linux</a>)</p>

<pre>
    Updater updater = new Updater(
        "http://foo.bar.com/myapp/rss.xml", myApp.getName(), myApp.getVersion());
    updater.checkUpdates(false);
</pre>

<p>If you want to let the user perform the check from a menu item, keep the <code>Updater</code> instance around as a class variable and call it like this from the action listener of the menu item.</p>

<pre>
    public void actionListener(ActionEvent e) {
        updater.checkUpdates();
    }
</pre>

<p>If the user chose to ignore the update, you can get this information and store it in the application preferences. The API also has methods to monitor for updates continuously based on a given period of time (see <code>Updater.monitorUpdates()</code>). You can even suppress the default UI, which would be appropriate for a command line tool, or in order to replace it with a custom one via an <code>UpdateListener</code>.</p>

<h2>Status</h2>

<p>At this point this is all implemented up to and including the download and expansion of the update archive. What is left to implement is the mechanism to actually replace the binaries of the application, which is the really tricky part of this project. There may be several platform-specific particularities to take into account. Hopefully one mechanism that works on all platforms can be achieved. Bugs in Java virtual machines will have to be taken into account. Therefore it will be important to initially define the platforms and versions of Java that are targeted for this project.</p>

<p>My first thought is that replacing binaries won’t work while the application is running, so we need to quit the application first. This implies that we can launch another process to take care of the upgrade before quitting.</p>

<p>There are two hurdles I’m foreseeing:</p>

<ul>
<li>Locating the application on disk</li>
<li>Relaunching the application</li>
</ul>

<p>We could locate the application disk through the use of user.dir, although it is not entirely reliable depending on how the application was launched. Is it enough for a first stab at it, documenting the conditions? Or should we resort to JNI or JNA? Or should we just bring up a dialog asking to locate the app if we can’t find it?</p>

<p>Once we know where it is it’s rather simple to compare the various files and upgrade them or delete deprecated ones.</p>

<p>Relaunching the application can be tricky as well. Each application has its own mechanism. How do we know which of the files is the launcher? Do we go with some basic assumptions (.app on Mac, .exe on Windows, but what about Linux and other Unixes)? Or do we put a hook in the API to let the calling code provide a callback that can perform this task?</p>

<p>Glossing over a lot of details, one strategy could be this:</p>

<ol>
<li>Get the location of the application on disk.</li>
<li>Figure out how the application was launched.</li>
<li>Extract into tmp the class files of the installation tool.</li>
<li>Install a shutdown hook that will run the installation tool, passing the application location, the update location and the launch information.</li>
<li>Exit the application.</li>
<li>In the installation tool, compare the app and the archive and replace files as needed.</li>
<li>Relaunch the application.</li>
<li>Exit the installation tool.</li>
</ol>

<h2>To Do</h2>

<p>List of things that need to be improved or implemented in the Updater API:</p>

<ul>
<li>Find people willing to help on implementing the replacement on executable binaries</li>
<li>Define the list of target platforms and Java VMs</li>
<li>Figure out what the requirements and limitations are for replacing the executable binaries on various platforms</li>
<li>Implement replacement of executable binaries</li>
<li>Define the archive formats to eventually support</li>
<li>Localize in more languages</li>
</ul>